:root {
  --clr-primary-50: #e6e8f0;
  --clr-primary-100: #bfc6dc;
  --clr-primary-200: #96a2c4;
  --clr-primary-300: #6e7eac;
  --clr-primary-400: #50639c;
  --clr-primary-500: #31498d;
  --clr-primary-600: #2b4284;
  --clr-primary-700: #223979;
  --clr-primary-800: #1b306d;
  --clr-primary-900: #0f2056;
  --clr-primary: var(--clr-primary-900);
  --clr-secondary-50: #ffebee;
  --clr-secondary-100: #ffcdd1;
  --clr-secondary-200: #f29a98;
  --clr-secondary-300: #e87370;
  --clr-secondary-400: #f2534b;
  --clr-secondary-500: #f6432f;
  --clr-secondary-600: #e8392f;
  --clr-secondary-700: #d62f29;
  --clr-secondary-800: #c92822;
  --clr-secondary: var(--clr-secondary-800);
  --clr-secondary-900: #ba1b15;

  --main-power-comp-300: #e87370;
  --main-power-comp-200: #f29a98;

  --bg: #f6f6f6;
  --font: #444;
  --font-white: #f6f6f6;
  --white: #fff;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/Ubuntu-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Mulish';
  src: url(fonts/Mulish-Regular.ttf);
}

body {
  font-size: 1rem;
  line-height: 1.4;
  background-color: var(--bg);
  color: var(--font);
  font-family: 'Mulish';
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: 'Ubuntu';
  color: var(--clr-primary);
}

a {
  text-decoration: none;
  color: var(--clr-primary);
}

.hero-img {
  display: flex;
  height: 100vh;

  max-width: 100%;
  background-image: url(img/bg/gradient.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  object-fit: contain;

  max-width: 80vw;
  max-height: 80vh;

  width: 80vw;

  margin: auto;
}

/* Next game */
.main-content-container {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 1200px) {
  .main-content-container {
    flex-direction: column;
  }
}

.next-game {
  border: 2px solid var(--clr-primary);
  width: 100%;
  max-width: 1200px;
}

.next-game-teams {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 0.5rem;
}

.next-game-team-img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.next-game-divider {
  font-size: 2rem;
}

.next-game-info {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* News Homepage */
.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 1200px) {
  .news {
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
  }

  .news-article {
    max-width: 380px;
  }
}

.news-article {
  border-radius: 3px;
  margin-bottom: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
}

.news-article a {
  color: var(--font);
}

.news-article:hover {
  transform: scale(1.05);
}

.news-article-date {
  font-size: 0.8rem;
  margin-top: 0px;
  padding-top: 12px;
}

.news-article-image {
  max-height: 200px;
  width: 100%;
  object-fit: fill;
}

.news-article-content {
  border-top: 0px;
  border-left: 2px;
  border-bottom: 2px;
  border-right: 2px;
  border-style: solid;
  border-color: var(--clr-primary);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  padding-left: 1rem;
  padding-right: 1rem;
}

/* Sponsoren */
.sponsors-container {
  background-image: url(img/bg/gradient.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--font-white);
}

.sponsors-container h2 {
  color: var(--font-white);
}

.sponsors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (min-width: 1200px) {
  .sponsors {
    flex-direction: row;
    width: 1200px;
  }
}

.sponsor img {
  object-fit: fill;
  height: 100%;
  max-width: 100%;
  max-height: 200px;
  width: 100%;
}

/* Footer */
.footer {
  background-color: var(--clr-primary);
  color: var(--font-white);
}

.footer-logo {
  max-height: 200px;
}

#copyright {
  font-weight: bolder;
  padding-bottom: 1rem;
}
