:root {
  --main-dark-blue: #0f1f56;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/Ubuntu-Bold.ttf);
  font-weight: bold;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  background-color: #f6f6f6;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.image-header {
  margin-top: auto;
}
